@import url("https://fonts.googleapis.com/css2?family=Amiri:ital@0;1&display=swap");
#background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background-color: #ffffff34;
  border-radius: 1vw;
  height: 170px;
  position: relative;
  transition: all 0.1s ease-in-out;
  filter: drop-shadow(0 20px 13px rgb(0 0 0 / 0.03))
    drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
}

.container:hover {
  scale: 1.1;
  background-color: #ffffff62;
}

.textnode {
  position: absolute;
  bottom: 0;
  width: 100%;
  font-size: 1.5em;
  background-color: #00000034;
  border-radius: 1vw;
  text-align: center;
  padding-block: 0.5vw;
  text-decoration: none;
  color: #e7e7e7d7;
}

.imagenode {
  height: 100px;
  width: 100px;
  padding-inline: 30px;
  padding-block-start: 20px;
}
