@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

#background {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.container {
  background-color: #ffffff34;
  border-radius: 1vw;
  height: 170px;
  position: relative;
  transition: all 0.1s ease-in-out;
}

.container:hover {
  scale: 1.1;
}
